.todo-list {
  width: 200px;
}
body {
  background-color: #101820;
  color: #f2aa4c;
}
.btn {
  height: 32px;
  line-height: 20px;
  margin-bottom: 3px;
}
input {
  background-color: inherit;
  border: none;
  color: white;
}

.wrap {
  width: 400px;
  border: beige solid 3px;
  border-radius: 10px;
}
